-# This file is app/views/groups/index.html.haml

%h1 Public Groups


%table#groups
    %thead
        %tr
            %th Group Name
            %th Join
    %tbody
        - @groups.each do |group|
            %tr
                %td= link_to group.title , group_display_path(group.id)
                %td= link_to 'Join', group_addUser_path(group.id), :id => 'joinlink'
                
= link_to 'Back to Decks', decks_path
%br
= link_to 'Create New Group', new_group_path